# Logs
logs/
*.log

# Dependency directories
node_modules/

# Environment variables
.env

# Test output (Optional)
# If you want SonarCloud to analyze your test coverage, you may want to remove `coverage/`
# from the ignore list.
#coverage/

# IDE-specific files
.vscode/
.idea/

# Jest output
/jest-test-results.json

# Other
.lock
dist/
.scannerwork/

clover.xml
coverage-final.json
lcov.info
